<!-- Copyright (C) 2017 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div fxLayout="column" class="content content-max-width">
  <md-toolbar color="primary" fxLayout="row" fxLayoutAlign="start center">
    <h3 class="md-dialog-title margin-left-x1">SELECT THE WORKSPACE</h3>
  </md-toolbar>

  <div class="central-content">
    <md-dialog-content>
      <div fxLayout="column" fxFill>
        <div fxFlex>
          <form [formGroup]="newWksForm" (ngSubmit)="onSubmit(newWksForm)" fxLayout="row" fxFlex fxLayoutGap="10px">
            <md-input-container fxFlex>
              <input mdInput placeholder="New workspace name" formControlName="name">
              <span mdPrefix><md-icon color="primary">edit</md-icon></span>
            </md-input-container>

            <button type="submit" [disabled]="btnSubmitDisabled" md-mini-fab color="primary" fxFlex="40px" mdTooltip="Add a workspace"
              mdTooltipPosition="below" class="btn-add-workspace">
              <md-icon class="md-24">create_new_folder</md-icon>
            </button>
          </form>
        </div>

        <div fxFlexFill class="margin-bottom-x1">
          <div class="info-add-workspace margin-top-x1" fxLayout="row" fxLayoutAlign="center center" *ngIf="(workspaces$ | async).list.length === 0 && !(workspaces$ | async).isFetchingWorkspaces">
            <md-icon color="primary">info</md-icon>
            <span md-line>You don't have any workspace yet</span>
          </div>

          <div *ngIf="user$ | async">
            <md-card>
              <md-card-content>
                <div fxLayout="row" fxFlex="100%">
                  <label>Workspaces</label>
                  <md-spinner class="margin-left-x1" *ngIf="(workspaces$ | async).isFetchingWorkspaces"></md-spinner>
                  <div fxFlex></div>
                  <div fxLayoutAlign="end center">
                    <span *ngIf="(workspaces$ | async).list.length === 0" md-line>No workspace yet</span>
                    <span class="subtitle" *ngIf="(workspaces$ | async).list.length >= 1" md-line>
                      {{ (workspaces$ | async).list.length }} item{{ ((workspaces$ | async).list.length) >= 2 ? 's' : '' }}
                    </span>
                  </div>
                </div>
              </md-card-content>
            </md-card>
            <md-divider></md-divider>
            <md-card class="card-workspace">
              <div fxLayout="row" class="cursor-pointer background-color-hover-light-green-x2"
                *ngFor="let workspace of (workspaces$ | async).list" (click)="fetchWorkspace(workspace)"
                [class.background-color-light-green-x2]="(workspaces$ | async).selectedWorkspaceId === workspace.id"
              >
                <div fxLayoutAlign="center start">
                  <md-icon color="primary" *ngIf="(workspaces$ | async).selectedWorkspaceId === workspace.id && workspace.users.list.length === 1">folder_open</md-icon>
                  <md-icon color="primary" *ngIf="(workspaces$ | async).selectedWorkspaceId === workspace.id && workspace.users.list.length > 1">folder_shared</md-icon>
                </div>
                <md-card-title-group>
                  <div fxLayout="column" fxLayoutAlign="center start">
                    <md-card-title>{{ workspace.name }}</md-card-title>
                    <md-card-subtitle>
                      <span *ngIf="workspace.users.list.length === 1" md-line>You are the only one using this workspace.</span>
                      <span *ngIf="workspace.users.list.length > 1" md-line>Shared with you and
                        <span
                          class="color-primary-bold dotted"
                          [mdTooltip]="getUsersNames(workspace.users.list)"
                          [mdTooltipShowDelay]="showDelay"
                          [mdTooltipHideDelay]="hideDelay"
                          [mdTooltipPosition]="position"
                        >{{ workspace.users.list.length - 1 }} other{{ (workspace.users.list.length - 1) >= 2 ? 's' : '' }}</span>.
                      </span>
                    </md-card-subtitle>
                  </div>
                </md-card-title-group>
              </div>
            </md-card>
          </div>
        </div>
      </div>
    </md-dialog-content>
  </div>
</div>
