/**
 * Copyright (C) 2017 Linagora
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

md-input-container [mdPrefix] {
  margin-right: 10px;
}

.central-content {
  padding: 24px;
}

h3 {
  font-size: 16px;
}

md-dialog-content {
  height: 100%;
}

.central-content {
  margin-top: 0;
}

.info-add-workspace md-icon {
  padding-right: 5px;
}

.dotted {
  border-bottom: 1px dotted black;
}

md-spinner {
  display: inline-block;
  width: 20px;
  height: 100%;
}

md-card-title {
  font-size: 16px;
}

.subtitle {
  color: rgba(0, 0, 0, 0.54);
}

.card-workspace {
  padding: 0;
  div {
    @media (min-width: 600px) {
      padding: 10px;
    }
    @media (max-width: 599px) {
      padding: 6px;
    }
  }
}
