/**
 * Copyright (C) 2017 Linagora
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

// shared
@import './shared/_shared';

// colors
@import './shared/_colors';

// themes
@import './themes/_light.theme';

div > h3, md-dialog-container > h3 {
  background-color: mat-color($theme-primary-x);
  margin: 0;
  padding: 10px;
  border-radius: 2dpi;
}

div > h4 {
  @extend .color-accent;
  @extend .bold;
}

md-sidenav-container {
  background-image: url(./assets/img/gray_jean.png);
  color: mat-color($theme-primary, default-contrast);
}

md-toolbar {
  background-color: mat-color($theme-primary-x1);
  color: mat-color($theme-primary-x2, default-contrast);
  h3 {
    margin: 0;
  }
}

.mat-menu-item .mat-icon {
  color: mat-color($theme-primary-x7);
}

.active-link, .active-link:hover {
  .mat-list-item-content {
    background-color: mat-color($theme-primary-x);
    @extend .color-primary;
    @extend .bold;
    margin: 0;
    border: 1px solid #dedede;
  }
}

md-sidenav-container .mat-list-item-content:hover, md-sidenav-container .mat-list-item-content:focus {
  background-color: mat-color($theme-primary-x);
  @extend .light-bold;
}

.highlight {
  background-color: mat-color($theme-accent-x5);
}
