<!-- Copyright (C) 2017 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div fxLayout="column" fxFill class="wrapper-content">
  <md-toolbar>
    <md-icon color="primary">edit</md-icon>
    Description
  </md-toolbar>

  <div fxFill fxLayout="column" class="content content-max-width" fxLayoutWrap>
    <div class="central-content">
      <form novalidate [formGroup]="busImportForm" (ngSubmit)="onSubmit(busImportForm) && busImportForm.reset()">
        <md-card>
          <md-card-content>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10px">
              <!-- To have more deterministic behavour, we should be able to set 50 to say 2 per line
                   See: https://github.com/angular/flex-layout/issues/235 -->
              <div fxFlex="45" fxFlex.xs="100" class="margin-top-x2">
                <md-input-container #ipInput fxFill>
                  <input mdInput placeholder="IP or hostname" formControlName="ip" required>
                  <span mdPrefix><md-icon color="primary">star_half</md-icon></span>
                  <md-hint *ngIf="formErrors.ip" class="form-error">
                    {{ formErrors.ip }}
                  </md-hint>
                </md-input-container>
              </div>

              <div fxFlex="45" fxFlex.xs="100" class="margin-top-x2">
                <md-input-container fxFill>
                  <input mdInput placeholder="Port" formControlName="port" required>
                  <span mdPrefix><md-icon color="primary">settings_ethernet</md-icon></span>
                  <md-hint *ngIf="formErrors.port" class="form-error">
                    {{ formErrors.port }}
                  </md-hint>
                </md-input-container>
              </div>

              <div fxFlex="45" fxFlex.xs="100" class="margin-top-x2">
                <md-input-container fxFill>
                  <input mdInput placeholder="Username" formControlName="username" required>
                  <span mdPrefix><md-icon color="primary">person</md-icon></span>
                  <md-hint *ngIf="formErrors.username" class="form-error">
                    {{ formErrors.username }}
                  </md-hint>
                </md-input-container>
              </div>

              <div fxFlex="45" fxFlex.xs="100" class="margin-top-x2">
                <md-input-container fxFill>
                  <input mdInput type="password" placeholder="Password" formControlName="password" required>
                  <span mdPrefix><md-icon color="primary">vpn_key</md-icon></span>
                  <md-hint *ngIf="formErrors.password" class="form-error">
                    {{ formErrors.password }}
                  </md-hint>
                </md-input-container>
              </div>

              <div fxFlex="45" fxFlex.xs="100" class="margin-top-x2">
                <md-input-container fxFill>
                  <input mdInput type="password" placeholder="Topology passphrase" formControlName="passphrase" required>
                  <span mdPrefix><md-icon color="primary">security</md-icon></span>
                  <md-hint *ngIf="formErrors.passphrase" class="form-error">
                    {{ formErrors.passphrase }}
                  </md-hint>
                </md-input-container>
              </div>
            </div>
          </md-card-content>
          <div fxLayout="column">
            <md-card-actions fxLayout="row" fxLayoutWrap class="margin-x1" fxLayoutAlign="end center">
              <div fxFlex.xs="100" fxLayout="row" class="error" fxLayoutAlign="start center" *ngIf="(busesInProgressTable$ | async).importBusError || (busInProgress && busInProgress.importError)">
                <md-icon color="warn">warning</md-icon>
                <span class="error-details">{{ (busInProgress && busInProgress.importError) ? busInProgress.importError : (busesInProgressTable$ | async).importBusError }}</span>
              </div>
              <div fxFlex></div>
              <div fxLayout="row" class="margin-top-x1 margin-bottom-x1">
                <button
                  md-raised-button
                  color="accent"
                  type="button"
                  *ngIf="!busInProgress && !(busesInProgressTable$ | async).isImportingBus && !(busesInProgressTable$ | async).selectedBusInProgressId"
                  class="btn-clear-form margin-right-x1"
                  (click)="reset()">Clear
                </button>
                <button md-raised-button color="warn" type="button" *ngIf="busInProgress && busInProgress.importError" (click)="discard(busInProgress)" [disabled]="busInProgress && busInProgress.isRemoving" class="margin-right-x1">Discard</button>
                <button md-raised-button color="primary" type="submit" class="btn-import-form" [disabled]="busImportForm.invalid || (busesInProgressTable$ | async).isImportingBus || busInProgress">
                  <span
                    *ngIf="!((busesInProgressTable$ | async).isImportingBus || (busInProgress && !busInProgress.importError))">
                    Import
                  </span>
                  <span  fxFill fxLayout="row" fxLayoutAlign="center center"
                    *ngIf="(busesInProgressTable$ | async).isImportingBus || (busInProgress && !busInProgress.importError)">
                    Importing <md-spinner></md-spinner>
                  </span>
                </button>
              </div>
            </md-card-actions>
          </div>
        </md-card>
      </form>
    </div>
  </div>
</div>
