<!-- Copyright (C) 2017 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div fxLayout="column" fxFill class="content content-max-width" fxLayoutWrap>
  <div class="central-content">
    <div fxLayoutWrap fxLayoutGap="10px">
      <md-card fxFlex.gt-sm="48%" fxFlex="100%" class="state">
        <md-card-title-group>
          <div fxFlex fxLayout="column" fxLayoutAlign="end end">
            <md-card-subtitle>State</md-card-subtitle>
            <md-card-title>{{ component.state }}</md-card-title>
            <md-card-content *ngIf="component.state">
              <div fxFlexLayout="row" fxLayoutAlign="end center">
                <!--TODO : When adding attribute "md-button", the click doesn't work anymore-->
                <span *ngFor="let possibleState of getPossibleStateActions(component.state)" fxFlexLayout="row" fxLayoutAlign="end center">
                  <button
                    (click)="changeState(possibleState.newStateAfterAction)"
                    [disabled]="component.isUpdatingState || (possibleState.actionName === 'Unload' && component.serviceUnits.length > 0)"
                  >
                    {{ possibleState.actionName }}
                  </button>

                  <!--TODO : The tooltip is not displayed. Potential bug with material and ng v4.-->
                  <!--See https://github.com/angular/material2/issues/3478 for more info-->
                  <md-icon
                    *ngIf="possibleState.actionName === 'Unload'"
                    mdTooltip="In order to unload a component, every service unit of this component should be unloaded"
                    mdTooltipPosition="above"
                  >
                    info outline
                  </md-icon>
                </span>
              </div>
            </md-card-content>
          </div>
          <div class="green-led"></div>
        </md-card-title-group>
      </md-card>

      <md-card fxFlex.gt-sm="48%" fxFlex="100%" class="type">
        <md-card-title-group>
          <div md-card-sm-image class="img-card-type"></div>
          <div fxFlex fxLayout="column" fxLayoutAlign="end end">
            <md-card-subtitle>Type</md-card-subtitle>
            <md-card-title>{{ component.type }}</md-card-title>
          </div>
          <div class="green-led"></div>
        </md-card-title-group>
      </md-card>
    </div>

    <!--<prettyjson fxFlex="100%" [obj]="component"></prettyjson>-->
  </div>
</div>
