<!-- Copyright (C) 2017 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div fxLayout="column" fxFill class="wrapper-content">
  <md-toolbar>
    <div class="prefix-toolbar-title">
      <md-icon color="primary">folder_special</md-icon>
    </div>

    <span class="title">{{ (workspace$ | async)?.name }}</span>
  </md-toolbar>

  <div fxFill fxLayout="column" class="content content-max-width" fxLayoutWrap>
    <div fxLayout="row">
      <p>Welcome to <span class="selected-workspace color-primary">{{ (workspace$ | async)?.name }}</span></p>

      <button color="warn" type="button" class="btn-delete-wks margin-left-x1" (click)="openDeletionDialog()"
        md-mini-fab mdTooltip="Delete the workspace" mdTooltipPosition="after" [disabled]="isRemovingWorkspace$ | async">
        <md-icon>delete</md-icon>
      </button>
    </div>

    <div *ngIf="(workspace$ | async)?.users.list as users">
      <div *ngIf="users.length === 1; else workspaceShared">
        <p class="users-in-workspace">You are the only one using this workspace.</p>
      </div>

      <ng-template #workspaceShared>
        <p class="users-in-workspace">{{ users.length }} people are using this workspace:</p>
      </ng-template>

      <md-list>
        <md-list-item *ngFor="let user of users">
          <app-generate-icon md-list-avatar [size]="35" [text]="user.id"></app-generate-icon>

          <h2 md-line>{{ user.id }}</h2>

          <p md-line>
            <span>{{ user.name }}</span>
          </p>
        </md-list-item>
      </md-list>
    </div>
  </div>
</div>
