/**
 * Copyright (C) 2017 Linagora
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

h1 {
  font-size: 20px;
  margin-left: 18px;
  margin-top: 18px;
}

h3 {
  font-size: 14px;
}

.wrapper-search-add-bus {
  padding: 16px;
  margin-bottom: -18px;
}

md-input-container [mdPrefix] {
  margin-right: 10px;
}
