<!-- Copyright (C) 2017 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div class="wrapper-search-add-bus" fxLayout="row" fxLayoutGap="10px">
  <form [formGroup]="searchForm">
    <md-input-container fxFlex>
      <input class="search" mdInput placeholder="Search" formControlName="search">
      <span mdPrefix><md-icon color="primary">search</md-icon></span>
    </md-input-container>
  </form>

  <a md-mini-fab class="btn-add-bus" color="primary" fxFlex="40px" mdTooltip="Import a bus" mdTooltipPosition="below"
    [routerLink]="['/workspaces', (workspaces$ | async).selectedWorkspaceId, 'petals', 'buses-in-progress']" (click)="closeSidenavOnSmallScreen()">
    <md-icon class="md-24">add</md-icon>
  </a>
</div>

<md-toolbar fxLayout="column" *ngIf="(busesInProgress$ | async).list.length > 0" fxLayoutAlign="center start">
  <md-icon color="primary">import_export</md-icon>
  <h3 class="color-primary margin-left-x1">IMPORT IN PROGRESS</h3>
</md-toolbar>
<app-buses-in-progress [busesInProgress]="busesInProgress$ | async"></app-buses-in-progress>

<md-toolbar fxLayout="column" *ngIf="(busesInProgress$ | async).list.length > 0" fxLayoutAlign="center start">
  <md-icon color="primary">star</md-icon>
  <h3 class="color-primary margin-left-x1" *ngIf="(busesInProgress$ | async).list.length > 0">BUSES</h3>
</md-toolbar>
<app-material-tree fxFill [tree]="tree$ | async" [search]="(workspaces$ | async).searchPetals" [marginLeft]="18" (onToggleFold)="onTreeToggleFold($event)"
  (onSelect)="onTreeSelect($event)"></app-material-tree>

<div *ngIf="(tree$ | async)?.length === 0 && (workspaces$ | async).searchPetals" class="info no-match">
  There is <b><i>no match</i></b> with <b><i>"{{ (workspaces$ | async).searchPetals }}</i></b>".
</div>
