<!-- Copyright (C) 2017 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<md-nav-list dense *ngFor="let item of tree; let i = index" [style.marginLeft.px]="margin">
  <a md-list-item [routerLink]="[item.link]" routerLinkActive="active-link" (click)="select({deepLevel: deepLevel, index: i, item: item})">
    <md-icon
      md-list-icon
      *ngIf="item.children"
      (click)="toggleFold({deepLevel: deepLevel, index: i, item: item})"
      [class.disable-fold-unfold]="search !== ''"
      [class.rotate-minus-90]="item.isFolded">arrow_drop_down</md-icon>

    <span appColorSearchedLetters [search]="search" classToApply="highlight" [text]="item.name"></span>
  </a>

  <app-material-tree
    *ngIf="!item.isFolded && item.children"
    [tree]="item.children"
    [search]="search"
    [marginLeft]="marginLeft"
    [deepLevel]="deepLevel + 1"
    (onToggleFold)="toggleFold($event)"
    (onSelect)="select($event)"></app-material-tree>
</md-nav-list>
