<!-- Copyright (C) 2017 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div fxLayout="column" fxFill class="content content-max-width" fxLayoutWrap>
  <div class="central-content">
    <!--<md-card *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9]" fxFlex="50%">
      <md-card-subtitle>Subtitle first</md-card-subtitle>
      <md-card-title>Card with title</md-card-title>
      <md-card-content>
        <p>This is supporting text.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad</p>
      </md-card-content>
      <md-card-actions>
        <button md-button>BT1</button>
        <button md-button>BT2</button>
      </md-card-actions>
    </md-card>-->
    <!--<prettyjson fxFlex="100%" [obj]="bus"></prettyjson>-->
  </div>
</div>
