<!-- Copyright (C) 2017 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div fxLayout="column" fxFill class="content content-max-width">
  <div class="central-content">
    <div fxLayoutWrap fxLayoutGap="10px">
      <md-card fxFlex.gt-sm="48%" fxFlex="100%" class="state">
        <md-card-title-group>
          <div fxFlex fxLayout="column" fxLayoutAlign="end end">
            <md-card-subtitle>State</md-card-subtitle>
            <md-card-title>{{ serviceUnit.state }}</md-card-title>
            <md-card-content *ngIf="serviceUnit.state">
              <!--TODO : When adding attribute "md-button", the click doesn't work anymore-->
              <button
                *ngFor="let possibleState of getPossibleStateActions(serviceUnit.state)"
                (click)="changeState(possibleState.newStateAfterAction)"
                [disabled]="serviceUnit.isUpdatingState"
              >
                {{ possibleState.actionName }}
              </button>
            </md-card-content>
          </div>
          <div class="green-led"></div>
        </md-card-title-group>
      </md-card>
    </div>
  </div>
</div>
