<!-- Copyright (C) 2017 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div fxLayout="column" fxFill class="wrapper-content">
  <md-toolbar>
    <div class="prefix-toolbar-title">
      <md-icon color="primary" *ngIf="!(container$ | async)?.isFetchingDetails">grade</md-icon>

      <md-spinner *ngIf="(container$ | async)?.isFetchingDetails"></md-spinner>
    </div>

    <span class="title">{{ (container$ | async)?.name }}</span>
  </md-toolbar>

  <md-tab-group fxFlex>
    <md-tab label="Overview">
      <!-- TODO: Create a component for every tab -->
      <app-petals-container-overview *ngIf="container$ | async" [workspaceId]="(workspaceId$ | async)" [container]="container$ | async"
        [otherContainers]="otherContainers$ | async" fxFill></app-petals-container-overview>
    </md-tab>
  </md-tab-group>
</div>
