<!-- Copyright (C) 2017 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div class="page-cockpit" fxLayout="column" fxFill>
  <md-toolbar color="primary" class="header-toolbar">
    <div class="toolbar-logo">
      <img class="logo-toolbar" [src]="logoByScreenSize$ | async">
    </div>

    <button *ngIf="(workspaces$ | async).selectedWorkspaceId" md-icon-button (click)="toggleSidenav()" class="menu-icon">
      <md-icon>menu</md-icon>
    </button>

    <span fxLayout="row">
      {{ (ui$ | async)?.titleMainPart1 }}

      <span *ngIf="(ui$ | async).titleMainPart2" fxLayoutAlign="center center">
        <md-icon>chevron_right</md-icon> <span class="color-accent-bold">{{ (ui$ | async).titleMainPart2 }}</span>
      </span>
    </span>

    <div fxFlex></div>
    
    <button md-icon-button class="margin-right-x2 btn-logout-user" [disabled]="(isDisconnecting$ | async)" (click)="disconnect()">
      <md-icon>power_settings_new</md-icon>
    </button>

    <app-generate-icon class="margin-right-x0 btn-avatar-user" [mdTooltip]="(user$ | async).name" mdTooltipPosition="below" [size]="24" [text]="(user$ | async).id"></app-generate-icon>

    <!--
    TODO: Find a way to handle immutability with md-select
    <md-select id="language" name="language" [(ngModel)]="language">
      <md-option *ngFor="let l of languages" [value]="l">{{ l }}</md-option>
    </md-select>
    -->
  </md-toolbar>

  <md-sidenav-container fxLayout="column" fxFlex (backdropClick)="closeSidenav()" (disableClose)="true">
    <md-sidenav fxLayout="column" [opened]="sidenavVisible$ | async" [mode]="sidenavMode$ | async">
      <div fxLayout="row">
        <button fxFlex="100" md-raised-button (click)="closeSidenavOnSmallScreen()" [routerLink]="['/workspaces', (workspaces$ | async).selectedWorkspaceId]" class="workspace-name width-full no-border-radius" color="accent">
          {{ (workspace$ | async)?.name }}
        </button>

        <button fxFlex md-raised-button (click)="openWorkspacesDialog()" class="change-workspace width-full no-border-radius" color="accent">
          <md-icon>view_list</md-icon>
        </button>
      </div>

      <md-tab-group>
        <md-tab label="Petals">
          <app-petals-menu-view></app-petals-menu-view>
        </md-tab>

        <md-tab label="Service">
          <h1>Some more tab content</h1>
          <p>...</p>
        </md-tab>

        <md-tab label="API">
          <h1>Some more tab content</h1>
          <p>...</p>
        </md-tab>
      </md-tab-group>
      <!--<router-outlet name="aux"></router-outlet>-->
    </md-sidenav>

    <router-outlet></router-outlet>
  </md-sidenav-container>
</div>
