/**
 * Copyright (C) 2017 Linagora
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: white;
}

.logo-toolbar {
  max-height: 40px;
}

$sidenavSize: 320px;

md-sidenav {
  width: $sidenavSize;
}

/*
TODO
While the issue on material **https://github.com/angular/material2/issues/3221** is still open,
let's make something hacky by putting the header on top of the rest

This should be cleaned as soon as the new feature is ready
*/

.header-toolbar {
  position: fixed;
  z-index: 2000;
}

// values are coming from material toolbar.scss
md-sidenav-container {

  // default value
  margin-top: 64px;

  // mobile landscape (tablet)
  @media (max-width: 960px) and (orientation: landscape) {
    margin-top: 48px;
  }

  // mobile portrait (phone)
  @media (max-width: 600px) and (orientation: portrait) {
    margin-top: 56px;
  }
}
/*
END TODO
*/

@media (max-width: 1279px) {
  md-toolbar {
    .toolbar-logo {
      margin-right: 10px;
    }

    .menu-icon {
      margin-right: 10px;
    }
  }
}

@media (min-width: 1280px) {
  md-toolbar {
    padding-left: 0;

    .toolbar-logo {
      min-width: $sidenavSize;
      text-align: center;
    }

    .menu-icon {
      margin-right: 10px;
    }
  }
}

.btn-menu-username {
  background-color: #F5F5F5;
}
