/**
 * Copyright (C) 2017 Linagora
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

@import '~@angular/material/core/theming/_all-theme';
@include mat-core();

$primary: mat-palette($mat-deep-purple, 700);
$accent: mat-palette($mat-amber, 500);

$theme-primary: mat-palette($mat-deep-purple, 700);
$theme-primary-x: mat-palette($mat-deep-purple, 50);
$theme-primary-x1: mat-palette($mat-deep-purple, 100);
$theme-primary-x2: mat-palette($mat-deep-purple, 200);
$theme-primary-x3: mat-palette($mat-deep-purple, 300);
$theme-primary-x4: mat-palette($mat-deep-purple, 400);
$theme-primary-x5: mat-palette($mat-deep-purple, 500);
$theme-primary-x6: mat-palette($mat-deep-purple, 600);
$theme-primary-x7: mat-palette($mat-deep-purple, 700);
$theme-primary-x8: mat-palette($mat-deep-purple, 800);
$theme-primary-x9: mat-palette($mat-deep-purple, 900);

$theme-accent: mat-palette($mat-amber, 500);
$theme-accent-x: mat-palette($mat-amber, 50);
$theme-accent-x1: mat-palette($mat-amber, 100);
$theme-accent-x2: mat-palette($mat-amber, 200);
$theme-accent-x3: mat-palette($mat-amber, 300);
$theme-accent-x4: mat-palette($mat-amber, 400);
$theme-accent-x5: mat-palette($mat-amber, 500);
$theme-accent-x6: mat-palette($mat-amber, 600);
$theme-accent-x7: mat-palette($mat-amber, 700);
$theme-accent-x8: mat-palette($mat-amber, 800);
$theme-accent-x9: mat-palette($mat-amber, 900);

$theme-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);

// will generate .color-{colorName}-x1, .color-{colorName}-x2, etc (same for background and others)
$color-declination: 10;

// picked from http://www.cssauthor.com/wp-content/uploads/2015/01/Material-Color-Picker.jpg
$red: #F54337;
$pink: #EA1E63;
$purple: #9C28B1;
$deep-purple: #6937B7;
$indigo: #3F51B5;
$blue: #2295F4;
$light-blue: #03A9F5;
$cyan: #00BCD5;
$teal: #00968A;
$green: #4CAF50;
$light-green: #8CC34B;
$lime: #CDDC39;
$yellow: #FFEB3C;
$amber: #FEC107;
$orange: #FF9801;
$deep-orange: #FE5522;
$brown: #775545;
$grey: #9D9E9F;
$white: #FFFFFF;
$black: #000000;

$color-palette: (
	'red': $red,
	'pink': $pink,
	'purple': $purple,
	'deep-purple': $deep-purple,
	'indigo': $indigo,
	'blue': $blue,
	'light-blue': $light-blue,
	'cyan': $cyan,
	'teal': $teal,
	'green': $green,
	'light-green': $light-green,
	'lime': $lime,
	'yellow': $yellow,
	'amber': $amber,
	'orange': $orange,
	'deep-orange': $deep-orange,
	'brown': $brown,
	'grey': $grey,
	'white': $white,
	'black': $black,
);
