/**
 * Copyright (C) 2017 Linagora
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

@import './_utils';
@import './_colors';
@import './_loading';

html,
body,
app-root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: mat-color($primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

mat-card-subtitle {
  float: right;
}

div > .mat-dialog-container {
  padding: 0;
  margin: 0;
}

.wrapper-content {
  .md-tab-body-wrapper,
  .md-tab-body-content {
    height: 100%;
  }
  .central-content {
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (max-width: 640px) {
    .central-content {
      width: 100%;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .content {
    @extend .padding-x3;
    background-image: url(./assets/img/gray_jean.png);
    background-size: auto;
    background-repeat: repeat;
    height: 100%;

    &.content-max-width {
      max-width: 800px;
      margin: auto;
    }
  }
}

.cursor-pointer:hover {
  cursor: pointer;
}

@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 400;
  src: local(Material Icons), local(MaterialIcons-Regular);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.form-error {
  color: red;
  font-size: 12px;
}

.error{
  padding: 12px;
  background-color: rgba(255, 0, 0, 0.2);
  color: mat-color($mat-red, 500, 1);
  white-space:nowrap;
}

.info {
  @extend .error;
  background-color: rgba(206, 227, 255, 0.4) !important;
  color: #4c83ef !important;
}

.warning {
  @extend .error;
  background-color: rgba(255, 234, 206, 0.4) !important;
  color: orange !important;
}

// lib to have a pretty json display
// use <prettyjson [obj]="someObj"></prettyjson>
// instead of json pipe to have a pretty debug
pre {
  .string { color: green; }
  .number { color: darkorange; }
  .boolean { color: blue; }
  .null { color: magenta; }
  .key { color: red; }
}

// custom scrollbar only for chrome
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.07);
}
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.17);
}
::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.17);
  border-left: 1px solid rgba(0,0,0,0.17);
  border-top: 1px solid rgba(0,0,0,0.17);
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.5);
  box-shadow: 1px 1px  2px rgba(0,0,0,0.2);
}
::-webkit-scrollbar:disabled {
  background-color: rgba(0, 0, 0, 0.03);
    width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.55);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0,0,0,0.61);
}
::-webkit-scrollbar-track:vertical,
::-webkit-scrollbar-track:vertical:hover {
  border-left: 1px solid rgba(0,0,0,0.17);
}
::-webkit-scrollbar-track:vertical:active {
  border-left: 1px solid rgba(0,0,0,0.20);
}
::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-track:horizontal:hover {
  border-top: 1px solid rgba(0,0,0,0.17);
}
::-webkit-scrollbar-track:horizontal:active {
  border-top: 1px solid rgba(0,0,0,0.20);
}

.prefix-toolbar-title {
  width: 40px;
  text-align: center;

  md-spinner {
    display: inline-block;
    width: 18px;
    height: 18px;
  }
}
