/**
 * Copyright (C) 2017 Linagora
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.img-card-ip {
  background-image: url(../../../../../../../assets/img/ip.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.img-card-port {
  background-image: url(../../../../../../../assets/img/port.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.img-card-server {
  background-image: url(../../../../../../../assets/img/server.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.icon-slot {
  width: 20px;
  float: right;
  .green-led {
    float: right;
    margin-left: 5px;
    width: 10px;
    height: 10px;
    background-color: #ABFF00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 3px 1px, inset #304701 0 -1px 3px, #89FF00 0 1px 3px;
  }

  .red-led {
    float: right;
    margin-left: 5px;
    width: 10px;
    height: 10px;
    background-color: #F00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
  }

  .yellow-led {
    float: right;
    margin-left: 5px;
    width: 10px;
    height: 10px;
    background-color: #FF0;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 3px, #FF0 0 1px 3px;
  }
}
