<!-- Copyright (C) 2017 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div fxLayout="column" fxFill class="content content-max-width">
  <div class="central-content">
    <div fxLayoutWrap fxLayoutGap="10px">
      <md-card fxFlex.gt-sm="48%" fxFlex="100%" class="ip">
        <md-card-title-group>
          <div md-card-sm-image class="img-card-ip"></div>
          <div fxFlex fxLayout="column" fxLayoutAlign="end end">
            <md-card-subtitle>IP</md-card-subtitle>
            <md-card-title>{{ container.ip }}</md-card-title>
          </div>
        </md-card-title-group>
      </md-card>
      <md-card fxFlex.gt-sm="48%" fxFlex="100%" class="port">
        <md-card-title-group>
          <div md-card-sm-image class="img-card-port"></div>
          <div fxFlex fxLayout="column" fxLayoutAlign="end end">
            <md-card-subtitle>Port</md-card-subtitle>
            <md-card-title>{{ container.port }}</md-card-title>
          </div>
        </md-card-title-group>
      </md-card>
    </div>
    <h3 class="color-primary-light-bold margin-top-x2">Reachabilities</h3>
    <div fxLayoutWrap fxLayoutGap="10px">
      <!-- To have more deterministic behavour, we should be able to set 50 to say 2 per line
           See: https://github.com/angular/flex-layout/issues/235 -->
      <md-card fxFlex.gt-sm="48%" fxFlex="100%" *ngFor="let otherContainer of otherContainers" class="reachability background-color-hover-light-green-x2 cursor-pointer"
        [routerLink]="['/workspaces', workspaceId, 'petals', 'containers', otherContainer.id]">
        <md-card-title-group>
          <div md-card-sm-image class="img-card-server"></div>
          <div fxFlex fxLayout="column" fxLayoutAlign="end end">
            <md-card-subtitle>Container</md-card-subtitle>
            <md-card-title>{{ otherContainer.name }}</md-card-title>
          </div>
          <div class="icon-slot">
            <div *ngIf="container.reachabilities.includes(otherContainer.id); else unreachable" class="green-led"></div>
            <ng-template #unreachable><div class="red-led"></div></ng-template>
          </div>
        </md-card-title-group>
      </md-card>
    </div>
    <h3 class="color-primary-light-bold margin-top-x2">System info</h3>
    <div fxLayout="row" fxLayoutWrap fxLayoutGap="10px">
      <md-card fxFlex class="system-info">{{ container.systemInfo }}</md-card>
    </div>
    <!--<prettyjson fxFlex="100%" [obj]="container"></prettyjson>-->
  </div>
</div>
